<div class="itemArea">


{{#each items as |item|}}
<div class="underLay">
  <div class="panel">
      <h1>Name: {{item.name}}</h1>
      <div class="categoryTags">
        {{#each item.categories as |category|}}
          <span class="catLink">{{#link-to 'category' category.id}}{{category.name}}{{/link-to}}</span>
        {{/each}}
      </div>
      <img  class="img-responsive" src="{{item.image}}" alt="" onerror='this.src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif"' />
      Description: {{item.description}}
      Price: {{item.price}}
      <button {{action "addToCart" item}}>Add to Cart</button>
      <button class="btn btn-danger destroy"{{action "destroyItem" item}}>X</button>
  </div>

  <select id="category_id2{{item.id}}">
    {{#each categories as |category|}}
    <option value="{{category.id}}">{{category.name}}</option>
    {{/each}}
  </select>
  <button {{action "addCategoryToItem" item}}>Add Category</button>
</div>
{{/each}}
</div>
