{{#each items as |item|}}
  <div class="panel">
      <li>Name: {{item.name}}</li>
      <img src="{{item.image}}" alt="" onerror='this.src="https://heatherchristenaschmidt.files.wordpress.com/2011/09/facebook_no_profile_pic2-jpg.gif"' />
      Description: {{item.description}}
      Price: {{item.price}}
      <button {{action "addToCart" item}}>Add to Cart</button>
      <button class="btn btn-danger destroy"{{action "destroyItem" item}}>X</button>
  </div>

{{/each}}
