<div class="well">
  <h1>create a new user account!!!! you need it to shop</h1>
  <label for="">Name</label>
  {{input value=newUserName id="newUserName"}}
  <label for="">User Name</label>
  {{input value=newUserUserName id="newUserUserName"}}
  <label for="">Email</label>
  {{input value=newUserEmail id="newUserEmail"}}
  <label for="">Password</label>
  {{input value=newUserPassword id="newUserPassword"}}
  <button {{action "createNewUser"}} class="btn btn-success">Join!</button>
</div>
