<div class="well">
  <h1>New Item</h1>
  <label for="">Name:</label>
{{input value=name id="name"}}
<label for="">Price:</label>
{{input value=price id="price"}}
 <label for="">Image:</label>
{{input value=image id="image"}}
<label for="">Description:</label>
{{input value=description id="description"}}

<button {{action "createNewProduct"}}>Submit</button>
</div>
